---
layout: base
title: "Research Documents"
---

<br/>
<br/>
<br/>



{% for metaitem in site.research %}
<section class="content">
  <h1 class="thin">{{ metaitem.text }} </h1>
  <ul class="listing">
    {% for item in metaitem.elements %}
    <li>
		{% if item.url %} <a href="{{ item.url }}"><h2>{{ item.name }} </h2></a>
		{% else %} <a href="#"><h2>{{ item.name }} </h2></a>{% endif %}
		{% if item.text %}   <p> {{ item.text }} </p> {% endif %}
    </li>
    {% endfor %}
  </ul>
</section>
{% endfor %}
